<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Notes</a>
    <!--
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
    -->
  </div>
</nav>

<h2>Add a New Note</h2>

<!--Title-->
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s16">
        <input id="Title" type="text">
        <label for="Title">Title</label>
      </div>
    </div>
  </form>
</div>

<!--Content-->
<div class="row">
  <form class="col s6">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Content</label>
      </div>
    </div>
  </form>
</div>

<a class="waves-effect waves-light btn-large">CREATE NOTE</a>

<h2>Your Notes</h2>
